.konten {
    width: 65%;
    background-color: white;
    border: 5px solid black;
    border-radius: 20px;
    display: block;
    transition: all 1s;
    margin: 150px auto 50px auto;
    z-index: -2;
}
.konten article {
    margin: 0 10px 10px 10px;
}
.konten legend {
    text-align: center;  
    margin-top: -175px;
    margin-bottom: 40px;
    width: 100%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    font-size: 30px;
    font-family: 'Pacifico', cursive;
}
.konten .logo {
    width: 30%;
    margin: 0 auto 0 auto;
    display: block;
}
.konten ol {
    margin: 0 0 0 30px;
}
.konten p {
    text-align: justify;
    /* atas kanan bawah kiri */
    margin: 10px;
}

.konten img.judul {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -155px;
    width: 350px;
    height: 300px;
}

/* kotak */
.konten .link {
    text-align: center;
    text-decoration: none;
}
.konten h2{
    text-align: center;
}
.konten hr {
    margin: 5px 100px;
    border: 2px solid black;
}
.konten iframe {
    width: 50%;
    height: 300px;
    display: block;
    margin: 10px auto;
    border: 2px solid black;
    border-radius: 20px;
}
.konten .kotak .banner {
    width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
.konten .tombol {
    display: block;
    width: 100px;
    text-decoration: none;
    background-color: green;
    /* atas kanan bawah kiri */
    padding: 10px 30px 10px 30px;
    margin: 10px auto 10px auto;
    text-align: center;
    color: white;
    border: 5px solid rgb(112, 88, 0);
    transition: all 0.5s;
}
.konten .tombol:hover {
    border: 5px solid black;
    border-radius: 50px;
    font-style: italic;
}

/* Tabel */
.konten table {
    border-collapse: collapse;
    margin: 20px auto 20px auto;
}

.konten table tr th,
.konten table tr td {
    border: 3px solid black;
    padding: 15px;
    text-align: center;
}

.konten table tr td img{
    width: 100%;
}

/* Tabel Konten */
.konten .tabel-konten {
    margin-top: 0;
}

.konten .tabel-konten tr td {
    padding: 5px;
    text-align: justify;
    vertical-align: top;
    border: 0px;
}

/* pencarian */
.pencarian {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px auto 10px auto;
}
.pencarian input[type=text] {
    padding: 10px;
    border: 3px solid black;
    border-radius: 20px;
}
.pencarian button {
    padding: 10px;
    border-radius: 20px;
    border: 3px solid black;
    width: 50px;
    cursor: pointer;
    background-color: burlywood;
}

@media screen and (max-width : 880px ) {
    .konten {
        width: 95%;
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 575px) {
    .konten .kotak .banner {
        width: 100%;
    }
    .konten .logo {
        width: 80%;
    }
    .konten iframe {
        width: 90%;
    }
    .pencarian input[type=text] {
        width: 65%;
    }
}